<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhkj.message.joint">

    <application>
        <activity android:name="com.zhkj.message.joint.JointActivity" />
        <activity android:name="com.zhkj.message.joint.JointDetailActivity" />
        <activity android:name="com.zhkj.message.joint.JointRecycleActivity" />
        <activity android:name="com.zhkj.message.joint.JointCreateActivity" />
    </application>
</manifest>