<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhkj.housekeeping.joint">

    <application>
        <activity android:name=".JointActivity" />
        <activity android:name=".JointDetailActivity" />
        <activity android:name=".JointRecycleActivity" />
        <activity android:name=".JointCreateActivity2" />
    </application>
</manifest>