<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhkj.user">

    <application>
        <activity android:name=".SelectUserActivity" />
        <activity android:name=".UserInfoActivity" />
        <activity android:name=".ModifyUserInfoActivity"/>
    </application>
</manifest>